@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&display=swap');
* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Noto Sans Mono', sans-serif;
}

::selection {
    color: var(--bg-color);
    background-color: var(--text-color);
}

:root {
    --text-color: #33FFCC;
    --second-text-color: #FFFFFF;
    --bg-color: #1C1F25;
}

body {
    background: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    position: sticky;
    text-align: center;
    align-items: center;
    border-bottom: .1rem solid var(--text-color);
}

.logo-text {
    font-size: 40px;
    color: var(--text-color);
    font-weight: bold;
}

.sign-in-btn {
    cursor: pointer;
    font-size: large;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: var(--second-text-color);
    transition: .4s ease;
}

.sign-in-btn:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

span {
    color: var(--text-color);
}

/* home section first page*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.home .link-host {
    cursor: pointer;
    font-size: large;
    cursor: pointer;
    display: inline-block;
    border-radius: 4rem;
    border: .1rem solid var(--text-color);
    font-size: 1.2rem;
    color: var(--bg-color);
    background: var(--text-color);
    font-weight: 600;
    transition: .4s ease;
}

.home .link-host:hover {
    background: var(--bg-color);
    color: var(--text-color);
}

.home .link-content {
    cursor: pointer;
    font-size: large;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    border: .1rem solid var(--text-color);
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
    transition: .4s ease;
}

.home .link-contestent:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.link-box-contestent {
    text-align: center;
    justify-content: center;
    border: .1rem solid var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #518f7f;
    position: relative;
    transition: .7s;
}

.link-box-contestent:hover {
    transform: scale(1.05);
}

.link-box-contestent p {
    font-size: x-large;
    padding: 10px;
    color: var(--second-text-color);
}

.link-box-host {
    text-align: center;
    justify-content: center;
    border: .1rem solid var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #518f7f;
    position: relative;
    transition: .7s;
}

.link-box-host:hover {
    transform: scale(1.05);
}

.link-box-host p {
    font-size: x-large;
    padding: 10px;
    color: var(--second-text-color);
}

.link-box-host a {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    border: .1rem solid var(--text-color);
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    transition: .4s ease;
}

.link-box-host a:hover {
    background: var(--text-color);
    color: var(--bg-color)
}


/* home section second page  */
.home-problems {
    text-align: center;
    padding-top: 30px;
    font-size: larger;
    color: var(--second-text-color);
}

.problemset {
    display: flex;
    text-align: left;
    border: .1rem solid var(--text-color);
    border-radius: 15px;
}

.problemset li {
    list-style-type: none;
    font-size: 20px;
}

.problemset li:hover {
    border-bottom: 2px double #518f7f;
}

.problemset a {
    color: var(--second-text-color);
}

.order {
    display: inline-flex;
    font-size: small;
    border: 1px solid var(--text-color);
    padding: 1px 5px 1px;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-weight: bolder;
}

/* demo problem-1 */
.p1 {
    color: var(--second-text-color);
}

.p1 .p-name {
    text-align: center;
    color: var(--text-color);
}

.statement-p1 {
    align-items: center;
    line-height: 2;
}

.in {
    color: var(--text-color);
}

.out {
    color: var(--text-color);
}

.sample-box {
    display: flex;
    border: 1px solid var(--text-color);
    justify-content: space-between;
    width: 50%;
}

.s-in {
    color: var(--text-color);
}

.s-out {
    color: var(--text-color);
}

.submit {
    cursor: pointer;
    font-size: large;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: var(--bg-color);
    background: var(--text-color);
    transition: .4s ease;
}

.submit:hover {
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

/* submit code section */
.home-submit-code {
    max-width: 100vw;
}

.sumbit-title {
    color: var(--text-color);
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 50vw;
    height: 43vh;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

textarea::placeholder {
    font-size: 30px;
}

#language {
    padding: 10px;
    background-color: var(--text-color);
    margin-left: 340px;
}

.home-submit-code .submit {
    margin-left: 340px;
    margin-top: 200px;
}